*	{
	outline: 0px solid black;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

ul {
	list-style-type: none;
}

	/*graphic design*/
	body {
		background-color: #D7DDDB;
	}
	
	.coll {
		border-radius: 10px;
		padding: 0.4%;
	}
	
	.coll > p {
		font-family: 'Lato', Calibri, Arial, sans-serif;
		color: #2173a3;
  		text-align: center;
		min-height: 100px;
		font-size: 1.5em;
	}

	.coll[class$="-1"]{
		background-color: #4F8A83;
	}
	
	.coll[class$="-2"]{
		background-color: #E76278;
	}
	
	.coll[class$="-3"]{
		background-color: #FAC699;
	}
	
	.coll[class$="-4"]{
		background-color: #712164;
	}
	
	.coll[class$="-5"]{
		background-color: #BF4E30;
	}
	
	.coll[class$="-6"]{
		background-color: #093824;
	}
	
	.coll[class$="-7"]{
		background-color: #92A7E0;
	}
	
	.coll[class$="-8"]{
		background-color: #4381C1;
	}
	
	.coll[class$="-9"]{
		background-color: #880D1E;
	}
	
	.coll[class$="-10"]{
		background-color: #F6BE00;
	}

/*hiddens*/
.hidden-small {
	display: none;
}

.hidden-medium {
	display: none;
}

.hidden-large {
	display: none;
}

/*layout*/

.row > .coll {
	float: left;
	margin: 0.3% 1.6%;
}

.row:before, .row:after {	/*clearfix*/
	content: '';
	display: table;
}

.row:after {	/*clearfix*/
	clear: both;
}

.row > .coll-1-1 { 	 width: 96.800000%; }
.row > .coll-1-2 { 	 width: 96.800000%; }
.row > .coll-2-2 { 	 width: 96.800000%; }
.row > .coll-1-3 { 	 width: 96.800000%; }
.row > .coll-2-3 { 	 width: 96.800000%; }
.row > .coll-3-3 { 	 width: 96.800000%; }
.row > .coll-1-4 { 	 width: 96.800000%; }
.row > .coll-2-4 { 	 width: 96.800000%; }
.row > .coll-3-4 { 	 width: 96.800000%; }
.row > .coll-4-4 { 	 width: 96.800000%; }
.row > .coll-1-5 { 	 width: 96.800000%; }
.row > .coll-2-5 { 	 width: 96.800000%; }
.row > .coll-3-5 { 	 width: 96.800000%; }
.row > .coll-4-5 { 	 width: 96.800000%; }
.row > .coll-5-5 { 	 width: 96.800000%; }
.row > .coll-1-6 { 	 width: 96.800000%; }
.row > .coll-2-6 { 	 width: 96.800000%; }
.row > .coll-3-6 { 	 width: 96.800000%; }
.row > .coll-4-6 { 	 width: 96.800000%; }
.row > .coll-5-6 { 	 width: 96.800000%; }
.row > .coll-6-6 { 	 width: 96.800000%; }
.row > .coll-1-7 { 	 width: 96.800000%; }
.row > .coll-2-7 { 	 width: 96.800000%; }
.row > .coll-3-7 { 	 width: 96.800000%; }
.row > .coll-4-7 { 	 width: 96.800000%; }
.row > .coll-5-7 { 	 width: 96.800000%; }
.row > .coll-6-7 { 	 width: 96.800000%; }
.row > .coll-7-7 { 	 width: 96.800000%; }
.row > .coll-1-8 { 	 width: 96.800000%; }
.row > .coll-2-8 { 	 width: 96.800000%; }
.row > .coll-3-8 { 	 width: 96.800000%; }
.row > .coll-4-8 { 	 width: 96.800000%; }
.row > .coll-5-8 { 	 width: 96.800000%; }
.row > .coll-6-8 { 	 width: 96.800000%; }
.row > .coll-7-8 { 	 width: 96.800000%; }
.row > .coll-8-8 { 	 width: 96.800000%; }
.row > .coll-1-9 { 	 width: 96.800000%; }
.row > .coll-2-9 { 	 width: 96.800000%; }
.row > .coll-3-9 { 	 width: 96.800000%; }
.row > .coll-4-9 { 	 width: 96.800000%; }
.row > .coll-5-9 { 	 width: 96.800000%; }
.row > .coll-6-9 { 	 width: 96.800000%; }
.row > .coll-7-9 { 	 width: 96.800000%; }
.row > .coll-8-9 { 	 width: 96.800000%; }
.row > .coll-9-9 { 	 width: 96.800000%; }
.row > .coll-1-10 { 	 width: 96.800000%; }
.row > .coll-2-10 { 	 width: 96.800000%; }
.row > .coll-3-10 { 	 width: 96.800000%; }
.row > .coll-4-10 { 	 width: 96.800000%; }
.row > .coll-5-10 { 	 width: 96.800000%; }
.row > .coll-6-10 { 	 width: 96.800000%; }
.row > .coll-7-10 { 	 width: 96.800000%; }
.row > .coll-8-10 { 	 width: 96.800000%; }
.row > .coll-9-10 { 	 width: 96.800000%; }
.row > .coll-10-10 { 	 width: 96.800000%; }

/*fixed layout*/
.row-fixed > .coll {
	float: left;
	margin: 0.3% 0.8%;
}

.row-fixed > .coll:first-child {
	margin-left: 1.6%; 
}	
.row-fixed > .coll:last-child {
	margin-right: 1.6%; 
}

.row-fixed > .coll-1-1 { 	 width: 96.800000%; }
.row-fixed > .coll-1-2 { 	 width: 47.600000%; }
.row-fixed > .coll-2-2 { 	 width: 96.800000%; }
.row-fixed > .coll-1-3 { 	 width: 31.200000%; }
.row-fixed > .coll-2-3 { 	 width: 64.000000%; }
.row-fixed > .coll-3-3 { 	 width: 96.800000%; }
.row-fixed > .coll-1-4 { 	 width: 23.000000%; }
.row-fixed > .coll-2-4 { 	 width: 47.600000%; }
.row-fixed > .coll-3-4 { 	 width: 72.200000%; }
.row-fixed > .coll-4-4 { 	 width: 96.800000%; }
.row-fixed > .coll-1-5 { 	 width: 18.080000%; }
.row-fixed > .coll-2-5 { 	 width: 37.760000%; }
.row-fixed > .coll-3-5 { 	 width: 57.440000%; }
.row-fixed > .coll-4-5 { 	 width: 77.120000%; }
.row-fixed > .coll-5-5 { 	 width: 96.800000%; }
.row-fixed > .coll-1-6 { 	 width: 14.800000%; }
.row-fixed > .coll-2-6 { 	 width: 31.200000%; }
.row-fixed > .coll-3-6 { 	 width: 47.600000%; }
.row-fixed > .coll-4-6 { 	 width: 64.000000%; }
.row-fixed > .coll-5-6 { 	 width: 80.400000%; }
.row-fixed > .coll-6-6 { 	 width: 96.800000%; }
.row-fixed > .coll-1-7 { 	 width: 12.457143%; }
.row-fixed > .coll-2-7 { 	 width: 26.514286%; }
.row-fixed > .coll-3-7 { 	 width: 40.571429%; }
.row-fixed > .coll-4-7 { 	 width: 54.628571%; }
.row-fixed > .coll-5-7 { 	 width: 68.685714%; }
.row-fixed > .coll-6-7 { 	 width: 82.742857%; }
.row-fixed > .coll-7-7 { 	 width: 96.800000%; }
.row-fixed > .coll-1-8 { 	 width: 10.700000%; }
.row-fixed > .coll-2-8 { 	 width: 23.000000%; }
.row-fixed > .coll-3-8 { 	 width: 35.300000%; }
.row-fixed > .coll-4-8 { 	 width: 47.600000%; }
.row-fixed > .coll-5-8 { 	 width: 59.900000%; }
.row-fixed > .coll-6-8 { 	 width: 72.200000%; }
.row-fixed > .coll-7-8 { 	 width: 84.500000%; }
.row-fixed > .coll-8-8 { 	 width: 96.800000%; }
.row-fixed > .coll-1-9 { 	 width: 9.333333%; }
.row-fixed > .coll-2-9 { 	 width: 20.266667%; }
.row-fixed > .coll-3-9 { 	 width: 31.200000%; }
.row-fixed > .coll-4-9 { 	 width: 42.133333%; }
.row-fixed > .coll-5-9 { 	 width: 53.066667%; }
.row-fixed > .coll-6-9 { 	 width: 64.000000%; }
.row-fixed > .coll-7-9 { 	 width: 74.933333%; }
.row-fixed > .coll-8-9 { 	 width: 85.866667%; }
.row-fixed > .coll-9-9 { 	 width: 96.800000%; }
.row-fixed > .coll-1-10 { 	 width: 8.240000%; }
.row-fixed > .coll-2-10 { 	 width: 18.080000%; }
.row-fixed > .coll-3-10 { 	 width: 27.920000%; }
.row-fixed > .coll-4-10 { 	 width: 37.760000%; }
.row-fixed > .coll-5-10 { 	 width: 47.600000%; }
.row-fixed > .coll-6-10 { 	 width: 57.440000%; }
.row-fixed > .coll-7-10 { 	 width: 67.280000%; }
.row-fixed > .coll-8-10 { 	 width: 77.120000%; }
.row-fixed > .coll-9-10 { 	 width: 86.960000%; }
.row-fixed > .coll-10-10 { 	 width: 96.800000%; }

@media (min-width: 400px) {
	.hidden-small {
		display: initial;
	}

	.row > .coll {
		float: left;
		margin: 0.3% 0.8%;
	}

	.row > .coll:first-child {
		margin-left: 1.6%; 
	}
	
	.row > .coll:last-child {
		margin-right: 1.6%; 
	}

	.row > .coll-1-1 { 	 width: 96.800000%; }
	.row > .coll-1-2 { 	 width: 47.600000%; }
	.row > .coll-2-2 { 	 width: 96.800000%; }
	.row > .coll-1-3 { 	 width: 31.200000%; }
	.row > .coll-2-3 { 	 width: 64.000000%; }
	.row > .coll-3-3 { 	 width: 96.800000%; }
	.row > .coll-1-4 { 	 width: 23.000000%; }
	.row > .coll-2-4 { 	 width: 47.600000%; }
	.row > .coll-3-4 { 	 width: 72.200000%; }
	.row > .coll-4-4 { 	 width: 96.800000%; }
	.row > .coll-1-5 { 	 width: 18.080000%; }
	.row > .coll-2-5 { 	 width: 37.760000%; }
	.row > .coll-3-5 { 	 width: 57.440000%; }
	.row > .coll-4-5 { 	 width: 77.120000%; }
	.row > .coll-5-5 { 	 width: 96.800000%; }
	.row > .coll-1-6 { 	 width: 14.800000%; }
	.row > .coll-2-6 { 	 width: 31.200000%; }
	.row > .coll-3-6 { 	 width: 47.600000%; }
	.row > .coll-4-6 { 	 width: 64.000000%; }
	.row > .coll-5-6 { 	 width: 80.400000%; }
	.row > .coll-6-6 { 	 width: 96.800000%; }
	.row > .coll-1-7 { 	 width: 12.457143%; }
	.row > .coll-2-7 { 	 width: 26.514286%; }
	.row > .coll-3-7 { 	 width: 40.571429%; }
	.row > .coll-4-7 { 	 width: 54.628571%; }
	.row > .coll-5-7 { 	 width: 68.685714%; }
	.row > .coll-6-7 { 	 width: 82.742857%; }
	.row > .coll-7-7 { 	 width: 96.800000%; }
	.row > .coll-1-8 { 	 width: 10.700000%; }
	.row > .coll-2-8 { 	 width: 23.000000%; }
	.row > .coll-3-8 { 	 width: 35.300000%; }
	.row > .coll-4-8 { 	 width: 47.600000%; }
	.row > .coll-5-8 { 	 width: 59.900000%; }
	.row > .coll-6-8 { 	 width: 72.200000%; }
	.row > .coll-7-8 { 	 width: 84.500000%; }
	.row > .coll-8-8 { 	 width: 96.800000%; }
	.row > .coll-1-9 { 	 width: 9.333333%; }
	.row > .coll-2-9 { 	 width: 20.266667%; }
	.row > .coll-3-9 { 	 width: 31.200000%; }
	.row > .coll-4-9 { 	 width: 42.133333%; }
	.row > .coll-5-9 { 	 width: 53.066667%; }
	.row > .coll-6-9 { 	 width: 64.000000%; }
	.row > .coll-7-9 { 	 width: 74.933333%; }
	.row > .coll-8-9 { 	 width: 85.866667%; }
	.row > .coll-9-9 { 	 width: 96.800000%; }
	.row > .coll-1-10 { 	 width: 8.240000%; }
	.row > .coll-2-10 { 	 width: 18.080000%; }
	.row > .coll-3-10 { 	 width: 27.920000%; }
	.row > .coll-4-10 { 	 width: 37.760000%; }
	.row > .coll-5-10 { 	 width: 47.600000%; }
	.row > .coll-6-10 { 	 width: 57.440000%; }
	.row > .coll-7-10 { 	 width: 67.280000%; }
	.row > .coll-8-10 { 	 width: 77.120000%; }
	.row > .coll-9-10 { 	 width: 86.960000%; }
	.row > .coll-10-10 { 	 width: 96.800000%; }
}

@media (min-width: 600px) {

}

@media (min-width: 800px) {
	.max-size-800 {	
		max-width: 800px;
		margin: auto auto;
	}
	
	.max-size-1000 {	
		max-width: 1000px;
		margin: auto auto;
	}
	
	.max-size-1200 {	
		max-width: 1200px;
		margin: auto auto;
	}

}

/*@media (min-width: 1200px) {
	.row .coll:first-child {
		margin-left: 1.6%; 
	}
	
	.row .coll:last-child {
		margin-right: 1.6%; 
	}

	.coll-1-1 { 	 width: 96.800000%; }
	.coll-1-2 { 	 width: 47.600000%; }
	.coll-2-2 { 	 width: 96.800000%; }
	.coll-1-3 { 	 width: 31.200000%; }
	.coll-2-3 { 	 width: 64.000000%; }
	.coll-3-3 { 	 width: 96.800000%; }
	.coll-1-4 { 	 width: 23.000000%; }
	.coll-2-4 { 	 width: 47.600000%; }
	.coll-3-4 { 	 width: 72.200000%; }
	.coll-4-4 { 	 width: 96.800000%; }
	.coll-1-5 { 	 width: 18.080000%; }
	.coll-2-5 { 	 width: 37.760000%; }
	.coll-3-5 { 	 width: 57.440000%; }
	.coll-4-5 { 	 width: 77.120000%; }
	.coll-5-5 { 	 width: 96.800000%; }
	.coll-1-6 { 	 width: 14.800000%; }
	.coll-2-6 { 	 width: 31.200000%; }
	.coll-3-6 { 	 width: 47.600000%; }
	.coll-4-6 { 	 width: 64.000000%; }
	.coll-5-6 { 	 width: 80.400000%; }
	.coll-6-6 { 	 width: 96.800000%; }
	.coll-1-7 { 	 width: 12.457143%; }
	.coll-2-7 { 	 width: 26.514286%; }
	.coll-3-7 { 	 width: 40.571429%; }
	.coll-4-7 { 	 width: 54.628571%; }
	.coll-5-7 { 	 width: 68.685714%; }
	.coll-6-7 { 	 width: 82.742857%; }
	.coll-7-7 { 	 width: 96.800000%; }
	.coll-1-8 { 	 width: 10.700000%; }
	.coll-2-8 { 	 width: 23.000000%; }
	.coll-3-8 { 	 width: 35.300000%; }
	.coll-4-8 { 	 width: 47.600000%; }
	.coll-5-8 { 	 width: 59.900000%; }
	.coll-6-8 { 	 width: 72.200000%; }
	.coll-7-8 { 	 width: 84.500000%; }
	.coll-8-8 { 	 width: 96.800000%; }
	.coll-1-9 { 	 width: 9.333333%; }
	.coll-2-9 { 	 width: 20.266667%; }
	.coll-3-9 { 	 width: 31.200000%; }
	.coll-4-9 { 	 width: 42.133333%; }
	.coll-5-9 { 	 width: 53.066667%; }
	.coll-6-9 { 	 width: 64.000000%; }
	.coll-7-9 { 	 width: 74.933333%; }
	.coll-8-9 { 	 width: 85.866667%; }
	.coll-9-9 { 	 width: 96.800000%; }
	.coll-1-10 { 	 width: 8.240000%; }
	.coll-2-10 { 	 width: 18.080000%; }
	.coll-3-10 { 	 width: 27.920000%; }
	.coll-4-10 { 	 width: 37.760000%; }
	.coll-5-10 { 	 width: 47.600000%; }
	.coll-6-10 { 	 width: 57.440000%; }
	.coll-7-10 { 	 width: 67.280000%; }
	.coll-8-10 { 	 width: 77.120000%; }
	.coll-9-10 { 	 width: 86.960000%; }
	.coll-10-10 { 	 width: 96.800000%; }
}
*/