.plug-menu .plug-menu-item{
	display: inline;
}

.plug-menu{
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.5s ease-in-out;
}

.plug-menu.clicked{
	max-height: 1000px;
}

.plug-menu-roller {
	display: block;
}

.plug-menu-item .plug-submenu{
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.5s ease-in-out;
}
.plug-menu-item.clicked .plug-submenu{
	max-height: 1000px;
}

@media (min-width: 800px) {
	.plug-menu-roller {
		display: none;
	}

	.plug-menu{
		max-height: 1000px;
	}
}