.plug-menu{
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.5s ease-in-out;
}

.plug-menu.clicked{
	max-height: 10000px;
}

.plug-menu-roller {
	display: block;
}

.plug-menu-item > .plug-menu{
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.5s ease-in-out;
}
.plug-menu-item.clicked > .plug-menu{
	max-height: 10000px;
}

@media (min-width: 800px) {
	.plug-menu-roller {
		display: none;
	}

	.plug-menu{
		max-height: 10000px;
	}
}