.plug-menu{
	width: 100%;
	display: none;
}

.plug-menu.clicked{
	display: block;
}

.plug-menu-roller {
	display: block;
}

.plug-menu-item > .plug-menu{
	display: none;
	position: absolute;
  	z-index: 100;
}
.plug-menu-item.clicked > .plug-menu{
	display: block;
}

@media (min-width: 800px) {
	.plug-menu-roller {
		display: none;
	}

	.plug-menu{
		display: block;
	}
}

.plug-menu-icon{
	padding: 0 5% ;
}

.plug-menu-item {
	position: relative;
	cursor: pointer;
}
